# directories
artifacts
artifacts-*
broadcast
cache
cache_hardhat-zk
coverage
deployments
deployments-*
docs
node_modules
out
out-*
repomix
typechain-types

# files
*.env
*.log
.DS_Store
.pnp.*
bun.lockb
deployments.md
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
