name: "CI Deep"

on:
  schedule:
    - cron: "0 3 * * 0" # at 3:00am UTC every Sunday
  workflow_dispatch:
    inputs:
      unitFuzzRuns:
        default: "50000"
        description: "Unit: number of fuzz runs."
        required: false
      integrationFuzzRuns:
        default: "50000"
        description: "Integration: number of fuzz runs."
        required: false
      forkFuzzRuns:
        default: "1000"
        description: "Fork: number of fuzz runs."
        required: false

jobs:
  check:
    uses: "sablier-labs/gha-utils/.github/workflows/evm-lint.yml@main"

  build:
    uses: "sablier-labs/gha-utils/.github/workflows/forge-build.yml@main"

  test-integration:
    needs: ["build"]
    uses: "sablier-labs/gha-utils/.github/workflows/forge-test.yml@main"
    with:
      foundry-fuzz-runs: ${{ fromJSON(inputs.integrationFuzzRuns || '50000') }}
      foundry-profile: "test-optimized"
      match-path: "tests/integration/**/*.sol"
      name: "Integration tests"

  test-fork:
    needs: ["build"]
    secrets:
      MAINNET_RPC_URL: ${{ secrets.MAINNET_RPC_URL }}
      ROUTEMESH_API_KEY: ${{ secrets.ROUTEMESH_API_KEY }}
    uses: "sablier-labs/gha-utils/.github/workflows/forge-test.yml@main"
    with:
      foundry-fuzz-runs: ${{ fromJSON(inputs.forkFuzzRuns || '1000') }}
      foundry-profile: "test-optimized"
      match-path: "tests/fork/**/*.sol"
      name: "Fork tests"
      retry-attempts: 2

  notify-on-failure:
    if: failure()
    needs: ["check", "build", "test-integration", "test-fork"]
    runs-on: "ubuntu-latest"
    steps:
      - name: "Send Slack notification"
        uses: "rtCamp/action-slack-notify@v2"
        env:
          SLACK_CHANNEL: "#ci-notifications"
          SLACK_MESSAGE: "CI Workflow failed for ${{ github.repository }} on branch ${{ github.ref }} at job ${{ github.job }}."
          SLACK_USERNAME: "GitHub CI"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
